### Homework: Pandas Basics

#### Part 1: Reading Files  
1. **`chinook.db`**  
   - Use the `sqlite3` library to connect to the database.  
   - Read the `customers` table into a pandas DataFrame. Display the first 10 rows.  

2. **`iris.json`**  
   - Load the JSON file into a DataFrame. Show the shape of the dataset and the column names.  

3. **`titanic.xlsx`**  
   - Load the Excel file into a DataFrame. Use `head` to display the first 5 rows.  

4. **Flights parquet file**  
   - Read the Parquet file into a DataFrame and use `info` to summarize it.  

5. **`movie.csv`**  
   - Load the CSV file into a DataFrame and display a random sample of 10 rows.

---

In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
#Part 1 Task 1
def connect_to_chinook():
    
    try:

        with sqlite3.connect('../data/chinook.db') as chinook:
            customers_table = pd.read_sql(
                'SELECT * FROM customers',
                con = chinook
            )

        return customers_table
    
    except sqlite3.OperationalError as e:
        print(f'Error occured {e}')
        return None
    
    except Exception as e:
        print(f'Something unexpected happened {e}!')
        return None

In [3]:
# Part 1 Task 2
def open_iris():

    try:
        path = r'../data/iris.json'
        if not os.path.exists(path):
            print(f'File not found in {path}')
            return None
        data_from_iris = pd.read_json(path)

        return data_from_iris

    except Exception as e:
        print(f'Something unexpected happen {e}!')
        return None

In [4]:
# Part 1 Task 3
def load_titanic():
    try:
        path = r'../data/titanic.xlsx'
        if not os.path.exists(path):
            print(f'File not found in {path}')
            return None
        excel_data = pd.read_excel(path, sheet_name=0)
        return excel_data

    except Exception as e:
        print(f'Error occured {e}')
        return None

In [18]:
# Part 1 Task 4
def open_parquet():
    try:
        path = r'../data/flights'
        if not os.path.exists(path):
            print(f'File does not exist in {path}')
            return None
        data_flights = pd.read_parquet(path)
        return data_flights
    except Exception as e:
        print(f'Something unexpected happen {e}')
        return None

In [6]:
# Part 1 Task 5
def read_movies_csv_file():
    try:
        path = r'../data/movie.csv'
        if not os.path.exists(path):
            print(f'File does not exist in {path}')
            return None
        movies = pd.read_csv(path)
        
        return movies
    except Exception as e:
        print(f'Error occured {e}')

---

#### Part 2: Exploring DataFrames  
1. Using the DataFrame from **`iris.json`**:  
   - Rename the columns to lowercase.  
   - Select only the `sepal_length` and `sepal_width` columns.  

2. From the **`titanic.xlsx`** DataFrame:  
   - Filter rows where the age of passengers is above 30.  
   - Count the number of male and female passengers (`value_counts`).  

3. From the **Flights parquet file**:  
   - Extract and print only the `origin`, `dest`, and `carrier` columns.  
   - Find the number of unique destinations.  

4. From the **`movie.csv`** file:  
   - Filter rows where `duration` is greater than 120 minutes.  
   - Sort the filtered DataFrame by `director_facebook_likes` in descending order.  

---

In [7]:
# Part 2 Task 1
def work_with_iris(data_from_iris):    
    data_from_iris.rename(columns = str.lower, inplace=True)
    lowercase_columns, sepal_columns = [i for i in data_from_iris.columns], data_from_iris[['sepallength', 'sepalwidth']]
    return lowercase_columns, sepal_columns

In [8]:
# Part 2 Task 2
def work_with_titanic(titanic_data):
    above_30_age = titanic_data[titanic_data['Age'] > 30]
    number_of_male_and_females = titanic_data['Sex'].value_counts()
    return above_30_age, number_of_male_and_females

In [9]:
# Part 2 Task 3
def work_with_flights(data_flights):
    data_flights.rename(columns=str.lower, inplace=True)
    origin_dest_carrier = data_flights[['origin', 'dest', 'carrierdelay']]
    numbers_of_destinations = data_flights['destcityname'].value_counts()
    return origin_dest_carrier, numbers_of_destinations

In [10]:
# Part 2 Task 4
def work_with_movies(data_movies):
    duration_more_120 = data_movies[data_movies['duration'] > 120]
    duration_more_120 = duration_more_120.sort_values(by = 'director_facebook_likes', ascending = False)
    return duration_more_120

#### Part 3: Challenges and Explorations  
 
- From **`iris.json`**: Calculate the mean, median, and standard deviation for each numerical column.  
- From **`titanic.xlsx`**: Find the minimum, maximum, and sum of passenger ages.  

- From **`movie.csv`**:  
    - Identify the director with the highest total `director_facebook_likes`.  
    - Find the 5 longest movies and their respective directors.  

- From **Flights parquet file**:  
    - Check for missing values in the dataset. Fill missing values in a numerical column with the column’s mean.

In [11]:
# Part 3 Task 1
def calculation_iris(data_from_iris):
    statistics = data_from_iris.loc[:, ['sepallength', 'sepalwidth', 'petallength', 'petalwidth']].agg(['mean', 'median', 'std'], axis = 0)
    return statistics

In [12]:
# Part 3 Task 2
def calculation_titanic(titanic_data):
    statistics = titanic_data['Age'].agg(['min', 'max', 'sum'], axis = 0)
    return statistics

In [13]:
# Part 3 Task 3
def statistics_movies(data_movies):
    director_likes = data_movies[['director_name', 'director_facebook_likes']].sort_values(by='director_facebook_likes', ascending=False)
    director_most_liked = director_likes.loc[0]
    five_long_films_and_directors = data_movies[['director_name', 'duration']].sort_values(by='duration', ascending=False).head(5)
    return director_most_liked, five_long_films_and_directors

In [14]:
# Part 3 Task 4
def fill_None_in_flights(data_flights):
    numeric_columns = data_flights.select_dtypes(include='number')
    for column in numeric_columns.columns:
        data_flights[column].fillna(data_flights[column].mean(), inplace=True)
    return data_flights

In [16]:
def main():

    print('Part 1 Results\nTask 1\n')
    customers_table = connect_to_chinook()
    result = customers_table.head(10)
    if result is not None:
        print(result)
    else:
        print('Can not connect data')
    
    print('Task 2\n')
    data_from_iris = open_iris()
    shape, column_names = data_from_iris.shape, data_from_iris.columns
    if shape is not None and column_names is not None:
        print(shape)
        print([i for i in column_names])
    else:
        print('Problem with results')

    print('Task 3\n')
    titanic_data = load_titanic()
    print(titanic_data.head(5))
    
    print('Task 4\n')
    data_flights = open_parquet()
    print(data_flights.info())
    
    print('Task 5\n')
    movies = read_movies_csv_file()
    print(movies.sample(10))
    
    print('Part 2 Results\n Task 1\n')
    lowercase_columns, sepal_columns = work_with_iris(data_from_iris)
    print(lowercase_columns)
    print(sepal_columns)

    print('Task 2\n')
    above_30_age, number_of_male_and_females = work_with_titanic(titanic_data)
    print(above_30_age)
    print(number_of_male_and_females)
    
    print('Task 3\n')
    origin_dest_carrier, numbers_of_destinations = work_with_flights(data_flights)
    print(origin_dest_carrier)
    print(numbers_of_destinations)

    print('Task 4\n')
    print(work_with_movies(movies))

    print('Part 3 Results\n Task 1')
    print(calculation_iris(data_from_iris))
    print('Task 2\n')
    print(calculation_titanic(titanic_data))

    print('Task 3\n')
    director_most_liked, five_long_films_and_directors = statistics_movies(movies)
    print(director_most_liked)
    print(five_long_films_and_directors)
    
    print('Task 4\n')
    print(fill_None_in_flights(data_flights))

In [17]:
if __name__ == '__main__':
    main()

Part 1 Results
Task 1

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4
Task 2

(150, 5)
['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']
Task 3

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Task 4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729125 entries, 0 to 6729124
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 5.5+ GB
None
Task 5

      color            director_name  num_critic_for_reviews  duration  \
2003  Color           Gavin O'Connor                   123.0      98.0
331   Color            Steve Martino                   233.0      88.0
2232  Color             Marc Forster                   201.0     128.0
3589  Color  Christopher M. Bessette                     6.0      88.0
327   Color                Jay Roach                   255.0      85.0
1108  Color                John Gray                    39.0      91.0
83    Color              Matt Reeves                   521.0     130.0
2216  Color            Howard Deutch                    80.0     112.0
3517  Color          George Roy Hill                   130.0     110.0
234   Color             George Lucas                   284.0     142.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
2003                    149.0                   439.0       Noah Emmerich
331                      20.0                   916.0            Josh Gad
2232                    395.0                   161.0          Shaun Toub
3589                      0.0                    57.0    John Billingsley
327                     116.0                   329.0  Thomas Middleditch
1108                     29.0                   322.0          Bob Gunton
83                      198.0                   884.0          Judy Greer
2216                     41.0                   490.0        Taran Killam
3517                    131.0                   399.0         Ted Cassidy
234                       0.0                  4000.0     Christopher Lee

      actor_1_facebook_likes        gross                              genres  \
2003                 20000.0    1512815.0                Action|Drama|Western
331                  22000.0  161317423.0   Adventure|Animation|Comedy|Family
2232                   283.0   15797907.0                               Drama
3589                   978.0      15059.0                      Drama|Thriller
327                   8000.0   86897182.0                              Comedy
1108                  2000.0   20400913.0  Action|Comedy|Crime|Drama|Thriller
83                   10000.0  208543795.0       Action|Adventure|Drama|Sci-Fi
2216                  1000.0   19151864.0                      Comedy|Romance
3517                   640.0  102308900.0       Biography|Crime|Drama|Western
234                  20000.0  310675583.0     Action|Adventure|Fantasy|Sci-Fi

      ... num_user_for_reviews language  country  content_rating       budget  \
2003  ...                 56.0  English      USA               R   25000000.0
331   ...                139.0  English      USA              PG   95000000.0
2232  ...                230.0     Dari      USA           PG-13   20000000.0
3589  ...                  8.0  English      USA           PG-13          NaN
327   ...                177.0  English      USA               R   95000000.0
1108  ...                 80.0  English      USA               R   45000000.0
83    ...                620.0  English      USA           PG-13  170000000.0
2216  ...                100.0  English      USA               R   40000000.0
3517  ...                309.0  English      USA               M    6000000.0
234   ...               3516.0  English      USA              PG  115000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
2003      2016.0                  617.0        5.8          2.35
331       2012.0                 1000.0        6.6          2.35
2232      2007.0                  206.0        7.6          2.35
3589      2012.0                  323.0        5.4          2.35
327       2012.0                  331.0        6.2          1.85
1108      1996.0                  461.0        5.3          1.85
83        2014.0                 2000.0        7.6          1.85
2216      2008.0                  500.0        5.9          1.85
3517      1969.0                  566.0        8.1          2.35
234       2002.0                16000.0        6.7          1.78

     movie_facebook_likes
2003                    0
331                 14000
2232                    0
3589                  543
327                 18000
1108                  451
83                  45000
2216                    0
3517                    0
234                     0

[10 rows x 28 columns]
Part 2 Results
 Task 1

['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species']
     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]
Task 2

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]
Sex
male      577
female    314
Name: count, dtype: int64
Task 3

        origin dest carrierdelay
0          MDT  CLT         None
1          MDT  CLT         None
2          MDT  CLT         None
3          MDT  CLT         None
4          MDT  CLT         None
...        ...  ...          ...
6729120    BOS  ATL         None
6729121    BOS  ATL         None
6729122    BOS  ATL         None
6729123    BOS  ATL        17.00
6729124    BOS  ATL         None

[6729125 rows x 3 columns]
destcityname
Chicago, IL              337469
Atlanta, GA              317910
New York, NY             305968
Dallas/Fort Worth, TX    276711
Denver, CO               271459
                          ...
Wilmington, DE               47
Ogden, UT                    29
Pierre, SD                    3
Watertown, SD                 2
Bullhead City, AZ             1
Name: count, Length: 367, dtype: int64
Task 4

      color      director_name  num_critic_for_reviews  duration  \
96    Color  Christopher Nolan                   712.0     169.0
97    Color  Christopher Nolan                   642.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
66    Color  Christopher Nolan                   645.0     152.0
1222  Color  Christopher Nolan                   341.0     130.0
...     ...                ...                     ...       ...
3357  Color                NaN                     9.0     142.0
3582  Color                NaN                    10.0     240.0
3799  Color                NaN                     2.0     199.0
4005  Color                NaN                     NaN     197.0
4031  Color                NaN                    10.0     173.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
96                    22000.0                  6000.0     Anne Hathaway
97                    22000.0                 23000.0         Tom Hardy
3                     22000.0                 23000.0    Christian Bale
66                    22000.0                 11000.0      Heath Ledger
1222                  22000.0                 19000.0      Hugh Jackman
...                       ...                     ...               ...
3357                      NaN                   427.0    Jack O'Connell
3582                      NaN                   334.0      Blake Ritson
3799                      NaN                   505.0  Jonathan Crombie
4005                      NaN                   110.0   Jessica De Gouw
4031                      NaN                   476.0        Colm Feore

      actor_1_facebook_likes        gross                            genres  \
96                   11000.0  187991439.0            Adventure|Drama|Sci-Fi
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller
3                    27000.0  448130642.0                   Action|Thriller
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
...                      ...          ...                               ...
3357                 27000.0          NaN                     Drama|Romance
3582                   805.0          NaN              Comedy|Drama|Romance
3799                   662.0          NaN                      Drama|Family
4005                   578.0          NaN                         Drama|War
4031                   723.0          NaN            Horror|Sci-Fi|Thriller

      ... num_user_for_reviews language    country  content_rating  \
96    ...               2725.0  English        USA           PG-13
97    ...               2803.0  English        USA           PG-13
3     ...               2701.0  English        USA           PG-13
66    ...               4667.0  English        USA           PG-13
1222  ...               1100.0  English        USA           PG-13
...   ...                  ...      ...        ...             ...
3357  ...                 33.0  English         UK             NaN
3582  ...                 50.0  English         UK             NaN
3799  ...                 74.0  English     Canada            TV-G
4005  ...                  1.0  English  Australia             NaN
4031  ...                 33.0  English        USA             NaN

           budget  title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
96    165000000.0      2014.0                11000.0        8.6          2.35
97    160000000.0      2010.0                27000.0        8.8          2.35
3     250000000.0      2012.0                23000.0        8.5          2.35
66    185000000.0      2008.0                13000.0        9.0          2.35
1222   40000000.0      2006.0                20000.0        8.5          2.35
...           ...         ...                    ...        ...           ...
3357          NaN         NaN                  698.0        7.7           NaN
3582          NaN         NaN                  432.0        8.2          1.78
3799          NaN         NaN                  517.0        8.4          1.33
4005   15000000.0         NaN                  476.0        7.4           NaN
4031          NaN         NaN                  539.0        5.0          1.78

     movie_facebook_likes
96                 349000
97                 175000
3                  164000
66                  37000
1222                49000
...                   ...
3357                    0
3582                    0
3799                    0
4005                  367
4031                  518

[1039 rows x 28 columns]
Part 3 Results
 Task 1
        sepallength  sepalwidth  petallength  petalwidth
mean       5.843333    3.057333     3.758000    1.199333
median     5.800000    3.000000     4.350000    1.300000
std        0.828066    0.435866     1.765298    0.762238
Task 2

min        0.42
max       80.00
sum    21205.17
Name: Age, dtype: float64
Task 3

director_name              James Cameron
director_facebook_likes              0.0
Name: 0, dtype: object
            director_name  duration
1694                  NaN     511.0
2436                  NaN     334.0
1487      Taylor Hackford     330.0
1134       Michael Cimino     325.0
3254  Chatrichalerm Yukol     300.0
Task 4

         year quarter month dayofmonth dayofweek  flightdate  \
0        2022       2     4         15         5  2022-04-15
1        2022       2     4         16         6  2022-04-16
2        2022       2     4         17         7  2022-04-17
3        2022       2     4         18         1  2022-04-18
4        2022       2     4         19         2  2022-04-19
...       ...     ...   ...        ...       ...         ...
6729120  2022       3     7         12         2  2022-07-12
6729121  2022       3     7         13         3  2022-07-13
6729122  2022       3     7         14         4  2022-07-14
6729123  2022       3     7         15         5  2022-07-15
6729124  2022       3     7         16         6  2022-07-16

        reporting_airline dot_id_reporting_airline  \
0                      OH                    20397
1                      OH                    20397
2                      OH                    20397
3                      OH                    20397
4                      OH                    20397
...                   ...                      ...
6729120                DL                    19790
6729121                DL                    19790
6729122                DL                    19790
6729123                DL                    19790
6729124                DL                    19790

        iata_code_reporting_airline tail_number  ... div4wheelsoff  \
0                                OH      N582NN  ...          None
1                                OH      N575NN  ...          None
2                                OH      N562NN  ...          None
3                                OH      N548NN  ...          None
4                                OH      N597NN  ...          None
...                             ...         ...  ...           ...
6729120                          DL      N712TW  ...          None
6729121                          DL      N703TW  ...          None
6729122                          DL      N722TW  ...          None
6729123                          DL      N718TW  ...          None
6729124                          DL      N703TW  ...          None

        div4tailnum div5airport div5airportid div5airportseqid div5wheelson  \
0              None        None          None             None         None
1              None        None          None             None         None
2              None        None          None             None         None
3              None        None          None             None         None
4              None        None          None             None         None
...             ...         ...           ...              ...          ...
6729120        None        None          None             None         None