1. List Tasks

1.1 Count Occurrences: Given a list and an element, find how many times the element appears in the list.

1.2 Sum of Elements: Given a list of numbers, calculate the total of all the elements.

1.3 Max Element: From a given list, determine the largest element.

1.4 Min Element: From a given list, determine the smallest element.

1.5 Check Element: Given a list and an element, check if the element is present in the list.

In [66]:
# 1.1
list = ['abs', 'elem', 'abs', 'Atletico', 'De', 'Madrid', 'abs']
n = list.count('abs')
print(n)

3

In [4]:
# 1.2
lst = [1, 2.2, -3.0]
sum(lst)

0.20000000000000018

In [5]:
# 1.3
lst = [-98, 2, 0.28, 1.998]
print(max(lst))

2

In [6]:
# 1.4
lst = [-98, 2, 0.28, 1.998]
print(min(lst))

-98

In [9]:
# 1.5
lst = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself']
print('Myself' in lst)
print('Trump' in lst)

True
False

1.6 First Element: Access the first element of a list, considering what to return if the list is empty.

1.7 Last Element: Access the last element of a list, considering what to return if the list is empty.

1.8 Slice List: Create a new list that contains only the first three elements of the original list.

1.9 Reverse List: Create a new list that contains the elements of the original list in reverse order.

1.10 Sort List: Create a new list that contains the elements of the original list in sorted order.

In [16]:
# 1.6
lst_1 = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself']
lst_2 = []
print(f'the first el of lst_1 is: "{lst_1[0]}"')
# print(f'the first el of lst_2 is {lst_2[0]}') # list index out of range error

first el of lst_1 is: "olma"

In [19]:
# 1.7
lst_1 = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself']
lst_2 = []
print(f'the last el of lst_1 is: "{lst_1[-1]}"')
# print(f'the last el of lst_2 is {lst_2[-1]}') # list index out of range error

the last el of lst_1 is: "Myself"

In [21]:
# 1.8
lst_1 = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself']
lst_2 = lst_1[0:3]
print(lst_2)

['olma', 'Antuan Griezmann', 'noutbuk']

In [22]:
# 1.9
lst_1 = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself']
lst_2 = lst_1[::-1]
print(lst_2)

['Myself', 'noutbuk', 'Antuan Griezmann', 'olma']

In [33]:
#1.10
lst_1 = ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself', 'Zara', 'zorro', 'A']
lst_2 = sorted(lst_1)
print(f'unsorted list: {lst_1}')
print(lst_2)

unsorted list: ['olma', 'Antuan Griezmann', 'noutbuk', 'Myself', 'Zara', 'zorro', 'A']
['A', 'Antuan Griezmann', 'Myself', 'Zara', 'noutbuk', 'olma', 'zorro']

1.11 Remove Duplicates: Given a list, create a new list that contains only unique elements from the original list.

1.12 Insert Element: Given a list and an element, insert the element at a specified index.

1.13 Index of Element: Given a list and an element, find the index of the first occurrence of the element.

1.14 Check for Empty List: Determine if a list is empty and return a boolean.

1.15 Count Even Numbers: Given a list of integers, count how many of them are even.

In [34]:
# 1.11
lst_1 = ['olma', 'Antuan Griezmann', 'Zara', 'noutbuk', 'Myself', 'Zara', 'olma', 'Antuan Griezmann', 'Zara', 'zorro', 'A']
unique_lst = list(set(lst_1))
print(unique_lst)

['A', 'Antuan Griezmann', 'noutbuk', 'zorro', 'Zara', 'Myself', 'olma']

In [37]:
# 1.12
lst = ['A', 'Antuan Griezmann', 'noutbuk', 'zorro', 'Zara', 'Myself', 'olma']
lst.insert(3, "to'rtinchi element")
print(lst)

['A', 'Antuan Griezmann', 'noutbuk', "to'rtinchi element", 'zorro', 'Zara', 'Myself', 'olma']

In [41]:
# 1.13
lst_1 = ['olma', 'Antuan Griezmann', 'Zara', 'noutbuk', 'Myself', 'Zara', 'banana', 'Antuan Griezmann', 'Zara', 'zorro', 'A']
index_el = lst_1.index('banana')
print(index_el)

6

In [106]:
# 1.14
lst_1 = []
lst_2 = [ 'Zara', 'banana', 'Antuan Griezmann']
check1 = not lst_1
check2 = not lst_2
print(check1, check2)

True False

In [51]:
# 1.15
lst_num = [28, 51, 1098, 2, 7, 3, 1, 65, 68]
even_lst = filter(lambda x: x % 2 ==0, lst_num)
print(len(list(even_lst)))

4

1.16 Count Odd Numbers: Given a list of integers, count how many of them are odd.

1.17 Concatenate Lists: Given two lists, create a new list that combines both lists.

1.18 Find Sublist: Given a list and a sublist, check if the sublist exists within the list.

1.19 Replace Element: Given a list, replace the first occurrence of a specified element with another element.

1.20 Find Second Largest: From a given list, find the second largest element.

In [52]:
# 1.16
lst_num = [28, 51, 1098, 2, 7, 3, 1, 65, 68]
even_lst = filter(lambda x: x % 2 == 1, lst_num)
print(len(list(even_lst)))

5

In [63]:
# 1.17
lst_num = [28, 51, 1098, 2, 7, 3, 1, 65, 68]
lst_2 = [ 'Zara', 'banana', 'Antuan Griezmann']
lst_joined = lst_num + lst_2
print(lst_joined)

[28, 51, 1098, 2, 7, 3, 1, 65, 68, 'Zara', 'banana', 'Antuan Griezmann']
[28, 51, 1098, 2, 7, 3, 1, 65, 68]

In [104]:
# 1.18
list = [1, 65, 68, 'Zara', 'banana']
sublist = [68, 'Zara', 'banana']
sublist2 = [ 65, 'Zara']
print(any(list[i:i+len(sublist)] == sublist for i in range(len(list) - len(sublist) + 1)))
print(any(list[i:i+len(sublist2)] == sublist2 for i in range(len(list) - len(sublist2) + 1)))

True
False

In [107]:
# 1.19
list = [1, 65, 68, 'Zara', 65, 'banana']
list[list.index(65)] = 'oltmish besh'
list

[1, 'oltmish besh', 68, 'Zara', 65, 'banana']

In [110]:
# 1.20
list = [1, 65, 68, 101, 65, 205]
list.remove(max(list))
print(max(list))

101