In [9]:
import sqlite3

### Task 2

1. **Database Creation**:
   - Create a new SQLite database named `library.db`.
   - Define a table called **Books** with the following schema:
     - **Title**: TEXT
     - **Author**: TEXT
     - **Year_Published**: INTEGER
     - **Genre**: TEXT

2. **Insert Data**:
   - Populate the **Books** table with the following entries:

| Title                  | Author          | Year_Published | Genre      |
|------------------------|-----------------|----------------|------------|
| To Kill a Mockingbird  | Harper Lee      | 1960           | Fiction    |
| 1984                   | George Orwell   | 1949           | Dystopian  |
| The Great Gatsby       | F. Scott Fitzgerald | 1925        | Classic    |

3. **Update Data**:
   - Update the `Year_Published` of **1984** to **1950**.

4. **Query Data**:
   - Retrieve and display the **Title** and **Author** of all books where the `Genre` is **Dystopian**.

5. **Delete Data**:
   - Remove all books published before the year 1950 from the table.

6. **Bonus Task**:
   - Add a new column called `Rating` to the **Books** table and update the data with the following values:

| Title                  | Rating |
|------------------------|--------|
| To Kill a Mockingbird  | 4.8    |
| 1984                   | 4.7    |
| The Great Gatsby       | 4.5    |

7. **Advanced Query**:
   - Retrieve all books sorted by their `Year_Published` in ascending order.

---

In [10]:
def creat_library():
    with sqlite3.connect('library.db') as second_base:
        cursor = second_base.cursor()
        query_for_creat = 'CREATE TABLE IF NOT EXISTS Books (Title text, Author text, Year_Published integer, Genre text)'
        cursor.execute(query_for_creat)

In [11]:
def insert_data():
    with sqlite3.connect('library.db') as second_base:
        cursor = second_base.cursor()
        info = (
            ('To Kill a Mockingbird', 'Harper Lee ', 1960, 'Fiction'),
            ('1984',  'George Orwell', 1949, 'Dystopian'),
            ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
        )
        query_to_add = 'INSERT INTO Books VALUES(?, ?, ?, ?)'

        cursor.executemany(query_to_add, info)

In [12]:
def update_year_published(title_select, new):
    with sqlite3.connect('library.db') as first_base:
        cursor = first_base.cursor()
        new_date = new
        selected_title = title_select
        query_for_update = '''UPDATE Books
                            SET Year_Published = ?
                            WHERE Title = ?'''
        cursor.execute(query_for_update, (new_date, selected_title))

In [13]:
def display_data(key_genre):
    with sqlite3.connect('library.db') as first_base:
        cursor = first_base.cursor()
        selection = 'SELECT Title, Author FROM Books WHERE Genre = ?'
        key = (key_genre,)
        to_display = cursor.execute(selection, key)
        print(to_display.fetchall())

In [14]:
def delate_info(key_date):
    with sqlite3.connect('library.db') as first_base:
        cursor = first_base.cursor()
        delate_info = 'DELETE FROM Books WHERE Year_Published < ?'
        key = (key_date,)
        cursor.execute(delate_info, key)

In [15]:
def main():
    
    creat_library()
    insert_data()
    update_year_published('1984', '1950')
    display_data('Dystopian')
    delate_info(1950)

In [16]:
if __name__ == '__main__':
    main()

[('1984', 'George Orwell')]