In [1]:
import sqlite3

### Task 1

1. **Database Creation**:
   - Create a new SQLite database named `roster.db`.
   - Define a table called **Roster** with the following schema:
     - **Name**: TEXT
     - **Species**: TEXT
     - **Age**: INTEGER

2. **Insert Data**:
   - Populate the **Roster** table with the following entries:

| Name           | Species  | Age |
|----------------|----------|-----|
| Benjamin Sisko | Human    | 40  |
| Jadzia Dax     | Trill    | 300 |
| Kira Nerys     | Bajoran  | 29  |

3. **Update Data**:
   - Update the `Name` of **Jadzia Dax** to **Ezri Dax**.

4. **Query Data**:
   - Retrieve and display the **Name** and **Age** of all characters where the `Species` is **Bajoran**.

5. **Delete Data**:
   - Remove all characters aged over 100 years from the table.

6. **Bonus Task**:
   - Add a new column called `Rank` to the **Roster** table and update the data with the following values:
   
| Name           | Rank       |
|----------------|------------|
| Benjamin Sisko | Captain    |
| Ezri Dax       | Lieutenant |
| Kira Nerys     | Major      |

7. **Advanced Query**:
   - Retrieve all characters sorted by their `Age` in descending order.

In [2]:
def creat_roster():
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        query1 = 'CREATE TABLE IF NOT EXISTS Roster (Name text, Species text, Age integer)'
        cursor.execute(query1)

In [3]:
def add_data():
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        info = (
            ('Benjamin Sisko', 'Human', 40),
            ('Jadzia Dax', 'Trill', 300),
            ('Kira Nerys', 'Bajoran', 29)
        )
        query_to_add = 'INSERT INTO Roster VALUES(?, ?, ?)'

        cursor.executemany(query_to_add, info)

In [4]:
def update_name_info(new, old):
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        new_name = new
        old_name = old
        query_for_update = '''UPDATE Roster
                            SET Name = ?
                            WHERE Name = ?'''
        cursor.execute(query_for_update, (new_name, old_name))

In [5]:
def display_name_age(key_species):
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        selection = 'SELECT Name, Age FROM Roster WHERE Species = ?'
        key = (key_species,)
        to_display = cursor.execute(selection, key)
        print(to_display.fetchall())

In [6]:
def delate_info(key_age):
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        delate_info = 'DELETE FROM Roster WHERE Age = ?'
        key = (key_age,)
        cursor.execute(delate_info, key)

In [7]:
def new_column():
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        add_rank_update= '''
        ALTER TABLE Roster ADD column Rank text;
        UPDATE Roster SET Rank='Captain' WHERE name = 'Benjamin Sisko';
        UPDATE Roster SET Rank='Lieutenant' WHERE name = 'Ezri Dax';
        UPDATE Roster SET Rank='Major' WHERE name = 'Kira Nerys';
        '''
        cursor.executescript(add_rank_update)

In [8]:
def sorted_by_age():
    with sqlite3.connect('roster.db') as first_base:
        cursor = first_base.cursor()
        sorted_table = cursor.execute('SELECT * FROM Roster ORDER BY Age DESC')
        print(sorted_table.fetchall())

In [9]:
def main():
    
    creat_roster()
    add_data()
    update_name_info('Ezri Dax', 'Jadzia Dax')
    new_column()
    sorted_by_age()
    display_name_age('Bajoran')
    delate_info(300)

In [10]:
if __name__ == '__main__':
    main()

[('Ezri Dax', 'Trill', 300, 'Lieutenant'), ('Benjamin Sisko', 'Human', 40, 'Captain'), ('Kira Nerys', 'Bajoran', 29, 'Major')]
[('Kira Nerys', 29)]